{% extends "base.html" %}

{% block content %}
<section class="error-page">
  <p class="boot-line boot-line-1">*** STOP ***</p>
  <h1 class="boot-title boot-line-2">KERNEL PANIC &mdash; REQUEST HALTED</h1>
  <p class="boot-line boot-line-3">the process could not complete this request</p>
  <p class="boot-line boot-line-4">registers dumped to the operator log &mdash; nothing useful to see here</p>
  <p class="boot-line boot-line-5"><a href="/">reboot &rarr; return home</a></p>
</section>
{% endblock %}
